[submodule "pack/plugins/submodules/commentary"]
	path = pack/plugins/submodules/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "pack/plugins/submodules/vim-fugitive"]
	path = pack/plugins/submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/submodules/nvim-lspconfig"]
	path = pack/plugins/submodules/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/plugins/submodules/fzf"]
	path = pack/plugins/submodules/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/plugins/submodules/fzf.vim"]
	path = pack/plugins/submodules/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/plugins/submodules/themes/sitruuna.vim"]
	path = pack/plugins/submodules/themes/sitruuna.vim
	url = https://github.com/eemed/sitruuna.vim
[submodule "pack/plugins/submodules/themes/SpaceWay.vim"]
	path = pack/plugins/submodules/themes/SpaceWay.vim
	url = https://github.com/Gavinok/SpaceWay.vim
[submodule "pack/plugins/submodules/nvim-treesitter"]
	path = pack/plugins/submodules/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/plugins/submodules/themes/onedark.nvim"]
	path = pack/plugins/submodules/themes/onedark.nvim
	url = https://github.com/navarasu/onedark.nvim
[submodule "pack/plugins/submodules/themes/gruber-darker.nvim"]
	path = pack/plugins/submodules/themes/gruber-darker.nvim
	url = https://github.com/thimc/gruber-darker.nvim
[submodule "pack/plugins/submodules/themes/gruvbox.nvim"]
	path = pack/plugins/submodules/themes/gruvbox.nvim
	url = https://github.com/ellisonleao/gruvbox.nvim
[submodule "pack/plugins/submodules/themes/cyanide"]
	path = pack/plugins/submodules/themes/cyanide
	url = https://github.com/RMichelsen/cyanide
[submodule "pack/plugins/submodules/themes/bluewery.vim"]
	path = pack/plugins/submodules/themes/bluewery.vim
	url = https://github.com/relastle/bluewery.vim
[submodule "pack/plugins/submodules/nvim-cmp"]
	path = pack/plugins/submodules/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "pack/plugins/submodules/cmp-nvim-lsp"]
	path = pack/plugins/submodules/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "pack/plugins/submodules/cmp-buffer"]
	path = pack/plugins/submodules/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "pack/plugins/submodules/cmp-nvim-lua"]
	path = pack/plugins/submodules/cmp-nvim-lua
	url = https://github.com/hrsh7th/cmp-nvim-lua
[submodule "pack/plugins/submodules/cmp-pandoc.nvim"]
	path = pack/plugins/submodules/cmp-pandoc.nvim
	url = https://github.com/aspeddro/cmp-pandoc.nvim
[submodule "pack/plugins/submodules/cmp_luasnip"]
	path = pack/plugins/submodules/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "pack/plugins/submodules/LuaSnip"]
	path = pack/plugins/submodules/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "pack/plugins/submodules/friendly-snippets"]
	path = pack/plugins/submodules/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets
[submodule "pack/plugins/submodules/telescope.nvim"]
	path = pack/plugins/submodules/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "pack/plugins/submodules/plenary.nvim"]
	path = pack/plugins/submodules/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/plugins/submodules/cmp-path"]
	path = pack/plugins/submodules/cmp-path
	url = https://github.com/hrsh7th/cmp-path
